.jumbo-info{
    background-image: linear-gradient(rgba(116, 116, 117, 0.5),rgba(116, 116, 117, 0.5)), url('../Images/bg-2.jpg');
    background-size: cover;
    border-radius: 0;
    color: white;
}

.jumbo-info1{
    background-image: linear-gradient(rgba(116, 116, 117, 0.5),rgba(116, 116, 117, 0.5)), url('../Images/about2.jpg');
    background-size: cover;
    border-radius: 0;
    color: white;
}

.data-heading{
    font-weight: bolder;
    color: white;
    text-decoration: underline;
}

.miami{
    width: 45%;
}

.miami p{
    font-size: 18px;
}

.cont-left{
    margin-left: 8%;
}

.col-md-4 h3{
    font-weight: bolder;
    color: #636363;
}

.col-md-4 p{
    color: #a8a8a8;
}

.col-md-4 a:hover{
    text-decoration: underline #636363;
}

.cont-top{
    margin-top: 7%;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-size{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.img-h{
    height: 150px;
}

.title-clas{
    margin-top: 8%;
    margin-bottom: 0;
}

.question{
    text-decoration: underline;
}

.act-qn{
    width: 85%;
    margin-left: 25%;
}

.list-ol{
    width: 75%;
    margin-left: 25%;
}

.light-grey{
    background-color: #efefef;
}

.form-left{
    margin-left: 30%;
}