.jumbo-info{
    background-image: linear-gradient(rgba(116, 116, 117, 0.5),rgba(116, 116, 117, 0.5)), url('../Images/bg-2.jpg');
    background-size: cover;
    border-radius: 0;
    color: white;
}

.jumbo-info1{
    background-image: linear-gradient(rgba(116, 116, 117, 0.5),rgba(116, 116, 117, 0.5)), url('../Images/about2.jpg');
    background-size: cover;
    border-radius: 0;
    color: white;
}
.jumbo-info2{
    background-image: linear-gradient(rgba(116, 116, 117, 0.5),rgba(116, 116, 117, 0.5)), url('../Images/recursion.jpeg');
    background-size: cover;
    border-radius: 0;
    color: white;
}

.data-heading{
    font-weight: bolder;
    color: white;
    text-decoration: underline;
}

.miami{
    width: 45%;
}

.miami p{
    font-size: 18px;
}

.cont-left{
    margin-left: 8%;
}

.col-md-4 h3{
    font-weight: bolder;
    color: #636363;
}

.col-md-4 p{
    color: #a8a8a8;
}

.col-md-4 a:hover{
    text-decoration: underline #636363;
}

.cont-top{
    margin-top: 7%;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.col-md-4 math{
    color: #a8a8a8;
}

.img-size{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.img-size-card {
  height: 285px;
  width: 285px;
}

.col-md-12 h3 {
  font-weight: bolder;
  color: #636363;
}

.col-md-12 a:hover{
    text-decoration: underline #636363;
}

.padded {
  padding-right: 30px;
  padding-bottom: 150px;
  padding-left: 30px;
}

.footer {
  position:relative;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.img-h{
    height: 150px;
}

.fact-cont {
  padding: 50px;
}
.title-clas{
    margin-top: 8%;
}

.question{
    text-decoration: underline;
}

.act-qn{
    width: 75%;
    margin-left: 10%;
}

.form-left{
    margin-left: 15%;
}

.cont-left-factorial{
    margin-left: 7%;
}

.light-grey{
    background-color: #efefef;
}

.red-code{
    color: #ff006e;
}

.jumbo-stack{
    height: 200px;
    color: #ff006e;
}

.jumbo-size{
    font-size: 75px;
    margin-top: 0;
}

.form-left-in{
    margin-left: -15px;
}

.div-left{
    margin-left: 10%;
}

.btn-width{
    width: 75%;
}